body {
  background-color: rgba(150, 240, 240, 0.454);
  background-image: url("https://assets.weforum.org/article/image/large_9uyGPe4H6EsYvEKaga0NCDlBS1EhWVC7FznJh8VMBm8");

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  background-color: bisque;
  padding: 10px;
  display: flex;
}

body {
  background-image: url("https://assets.weforum.org/article/image/large_9uyGPe4H6EsYvEKaga0NCDlBS1EhWVC7FznJh8VMBm8");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
