.service-detail {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-left: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(157, 161, 164, 0.571);
  transition: 0.3s;
  background-color: #f7f1f14d;
  position: fixed;
}

.detail-img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  align-items: center;
  align-content: center;
  padding: 100px;
  /* width: 50%;
  height: auto; */
}
.review-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leave-review {
  margin: 30px;
  padding: 20px;
  font-size: medium;
  background-color: rgb(88, 198, 241);
  border: none;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-content {
  display: flex;
  flex-direction: column;
}

.editbutton,
.deletebutton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 6px 6px;
  background-color: rgb(126, 203, 233);
  color: rgb(24, 24, 23);
  border: none;
  text-align: center;
  padding: 20px 20px;
  border-radius: 16px;
  display: inline-block;
}

h3 {
  color: rgb(163, 163, 196);
}

@media screen and (max-width: 768px) {
  .listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
