.suggestions {
  background-image: url("https://i.imgur.com/DEJubhH.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 90px;
  margin: 300px;
  background-position: center;
  background-size: cover;
  height: 600px;
  background-blend-mode: lighten;
  background-repeat: no-repeat, repeat;
}

.submitbutton {
  margin: auto;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

input {
  padding: 10px;
}
